
/*
http://www.december.com/html/spec/color1.html

khaki(SVG) #F0E68C
coconut #FFFCCF
bone(Safe Hex3) #FFFFCC
*/

/* day-trip/day-other */
tr.day-trip {
	background-color: #F0E68C; color: black;
}
/* NIL */

/* LOW/HIGH tide */
tr.HIGH {
	background-color: #FFFCCF; color: black;
}
